* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #efdb98;
  color: #ffffff;
  font-family: "Inter";
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
  margin: 0 0 2rem 0;
}

.heading {
  padding: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  background: #a81b58;
  border-radius: 1rem;
  box-shadow: 5px 4px 5px #1f030fcf, 5px 5px 3px #de74a2 inset;
  color: #fff;
}
.container {
  min-width: 30rem;
  min-height: 30rem;
  background: #688455;
  box-shadow: 8px 6px 8px #1f030fcf;
  border-radius: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #fceec4;
  border: 1rem solid #a51654;
  box-shadow: 6px 6px 5px #686865 inset, 7px 7px 7px rgba(11, 37, 41, 0.69);
}
.big-numbers {
  position: absolute;
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}
.num-12 {
  top: 0;
  left: 46%;
}
.num-9 {
  top: 45%;
  left: 1%;
}
.num-6 {
  top: 91%;
  left: 49%;
}
.num-3 {
  top: 45%;
  left: 95%;
}
.small-numbers {
  position: absolute;
  color: #000;
  font-size: 1.5rem;
}
.num-1 {
  top: 8%;
  left: 73%;
}
.num-2 {
  top: 25%;
  left: 89%;
}
.num-4 {
  top: 69%;
  left: 89%;
}
.num-5 {
  top: 86%;
  left: 72%;
}
.num-7 {
  top: 86%;
  left: 25%;
}
.num-8 {
  top: 69%;
  left: 8%;
}
.num-10 {
  top: 25%;
  left: 7%;
}
.num-11 {
  top: 7%;
  left: 25%;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: bottom;
}
.hour {
  width: 2.2%;
  height: 27%;
  border-radius: 50% 50% 0 0;
  background: #0e215e;
  transform: rotateZ(0deg);
  z-index: 1;
}
.minute {
  height: 40%;
  width: 1.7%;
  border-radius: 50% 50% 0 0;
  background-color: #0e215e;
  transform: rotateZ(0deg);
  z-index: 2;
}
.mini-circle {
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background-color: #a51654;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.display-date {
  position: absolute;
  padding: 2.2%;
  background-color: #fbfbfa;
  border-radius: 1rem;
  box-shadow: 3px 3px 1px #797978 inset;
  color: rgb(43, 5, 5);
  font-weight: 800;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  z-index: 0;
}
.second {
  width: 1%;
  height: 35%;
  border-radius: 30% 30% 0 0;
  background-color: #ac0d0d;
  transform: rotateZ(0deg);
  z-index: 3;
  animation: second-rotation 60s infinite linear;
}

@keyframes second-rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 40rem) {
  .container {
    min-width: 24rem;
    min-height: 24rem;
  }
  .clock {
    border: 0.7rem solid #a51654;
    box-shadow: 5px 5px 4px #686865 inset, 6px 6px 6px rgba(11, 37, 41, 0.69);
  }
  .big-numbers {
    font-size: 1.5rem;
  }
  .small-numbers {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 25rem) {
  .container {
    min-width: 18rem;
    min-height: 18rem;
  }
  .clock {
    border: 0.5rem solid #a51654;
    box-shadow: 4px 4px 3px #686865 inset, 5px 5px 5px rgba(11, 37, 41, 0.69);
  }
  .big-numbers {
    font-size: 1.3rem;
  }
  .small-numbers {
    font-size: 1rem;
  }
}
